
.account-menu {
    border: 1px solid var(--color-field-border);
    box-sizing: border-box;
    border-radius: 5px;
    padding: 16px 32px;
    margin-bottom: 64px;
    display: flex;
}
.account-menu__user-info {
    width: 100%;
    max-width: 302px;
    border-right: 1px solid var(--color-field-border);
    padding: 24px 0;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.03em;
}
.account-menu__links {
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 32px;
}
.account-menu__links li {
    margin: 0;
}
.account-menu__links li a {
    text-decoration: none;
}
.profile-details {
    padding: 64px 0 90px;
}
.profile-details__wrap {
    border: 1px solid var(--color-field-border);
    box-sizing: border-box;
    border-radius: 5px;
    padding: 32px;
}
.profile-details__inner {
    width: 100%;
    max-width: 1181px;
    margin: auto;
}

.profile-details__wrap .wppb-user-forms ul {
    width: 100%;
    max-width: unset;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.profile-details__wrap .wppb-user-forms .wppb-form-field {
    width: 49%;
    padding-bottom: 18px;
}
.profile-details__wrap .wppb-user-forms .wppb-form-field#wppb-form-element-2 {
    width: 100%;
    /*order: 0;*/
}
/*.profile-details__wrap .wppb-user-forms .wppb-form-field#wppb-form-element-3 {*/
/*    order: 1;*/
/*}*/
/*.profile-details__wrap .wppb-user-forms .wppb-form-field#wppb-form-element-4 {*/
/*    order: 2;*/
/*}*/
.profile-details__wrap .wppb-user-forms .wppb-form-field#wppb-form-element-8 {
    width: 100%;
}
.profile-details__wrap .wppb-user-forms .wppb-form-field#wppb-form-element-20 {
    width: 100%;
}
.profile-details__wrap .wppb-user-forms .wppb-form-field#wppb-form-element-19 {
    width: 100%;
    position: relative;
    border-bottom: 1px solid #E0E0E0;
    padding-bottom: 32px;
    margin-bottom: 32px;
}
.profile-details__wrap .wppb-user-forms .wppb-form-field#wppb-form-element-19:before {
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: var(--color-field-border);
    height: 1px;
}

.account-menu__user-name,
.profile-details__heading {
    font-style: normal;
    font-weight: 700;
    font-size: 19.98px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: var(--color-brand-navy-primary);
}
.account-menu__user-name {
    margin-bottom: 12px;
}
.profile-details__heading {
    margin-bottom: 32px;
}

@media (max-width: 992px) {
    .profile-details__wrap {
        padding: 32px 16px;
    }
}
@media (max-width: 767px) {
    .profile-details {
        padding: 16px 0 32px;
    }
    .account-menu {
        margin-bottom: 16px;
        padding: 0 16px;
        flex-direction: column;
        align-items: flex-start;
    }
    .account-menu__user-info {
        border-right: none;
        border-bottom: 1px solid var(--color-field-border);
    }
    .account-menu__links {
        padding: 32px 0;
    }
    .page-template-account-page .search-page_title {
        font-size: 16.0091px;
        line-height: 125%;
        letter-spacing: 0.02em;
    }
    .profile-details__wrap .wppb-user-forms .wppb-form-field {
        width: 100%;
    }
}