.profile-list {
    padding: 90px 0 44px;
    position: relative;
}
.profile-list__bio {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.profile-list__image {
    width: 80px;
    height: 80px;
    border-radius: 5px;
    overflow: hidden;
}
.profile-list__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.profile-list__item:not(:last-child) {
    margin-bottom: 16px;
}

.profile-list__item .rslider__item-header {
    display: none;
}
.profile-list__item .rslider__item-body {
    padding: 0;
}

.profile-list__item .speakers__position {
    font-weight: bold;
    font-size: 15px;
    line-height: 17px;
    letter-spacing: 0.05em;
    color: var(--color-brand-navy-primary);

}
.profile-list__item .rslider__item-footer {
    flex-direction: row;
    padding: 8px 0 16px;
}
.profile-list__item .rslider__item-footer:before {
    display: none;
}

/*Custom content*/
.content-item .rslider__desc {
    margin-bottom: 30px;
}
.content-item .profile-list__item {
    margin-bottom: 22px;
}
.content-item .profile-list__item:last-child {
    margin-bottom: 0;
}
.content-item .profile-list {
    padding: 32px 0;
    position: relative;
}
.content-item .speakers__bio {
    margin-bottom: 12px;
}

@media (max-width: 767px) {
    .profile-list {
        padding: 60px 0 44px;
    }
    .profile-list__item .speakers__bio {
        flex-direction: column;
        align-items: flex-start;
    }
    .profile-list__item .speakers__image {
        width: 46px;
        min-width: 46px;
        height: 46px;
        margin-bottom: 16px;
    }
    .profile-list__item .speakers__name {
        margin-bottom: 8px;
    }
    .profile-list__item .rslider__excerpt {
        font-size: 13.33px;
        line-height: 22px;
        margin-bottom: 0;
    }

    .content-item .speakers__bio {
        margin-bottom: 16px;
    }
    .content-item .rslider__desc {
        margin-bottom: 16px;
    }
}