
.timeline__section {
    padding: 64px 0;
    position: relative;
}
.timeline__section .heading-block {
    text-align: center;
    margin-bottom: 48px;
}
.timeline__section .rslider__heading,
.timeline__section .rslider__desc{
    margin: auto;
}
.timeline__section .rslider__heading {
    margin-bottom: 16px;
}


.timeline__wrapper {
    width: 100%;
}
.timeline__item {
    display: flex;
    align-items: center;
}
.timeline__item:nth-child(even) {
    flex-direction: row-reverse;
}
.timeline__item-col {
    width: 50%;
}
.timeline__image-block {
    position: relative;
}
.timeline__image {
    width: 213px;
    height: 213px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: auto;
    margin-right: 100px;
}
.timeline__item:nth-child(even) .timeline__image {
    margin-left: 100px;
    margin-right: auto;
}
.timeline__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.timeline__text-block {
    position: relative;
    padding-left: 30px;
    padding-bottom: 44px;
}
.timeline__item:nth-child(even) .timeline__text-block {
    padding-left: 0;
    padding-right: 30px;
}
.timeline__item:last-child .timeline__text-block {
    padding-bottom: 0;
}
.timeline__text-block:before {
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: #A74F39;
    left: 0;
}
.timeline__item:nth-child(even) .timeline__text-block:before {
    right: -1px;
    left: unset;
}
.timeline__item:last-child  .timeline__text-block:before {
     display: none;
 }
.timeline__text-block:after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    left: -4px;
    top: -5px;
    background-color: #A74F39;
    border-radius: 50%;
}
.timeline__item:nth-child(even) .timeline__text-block:after {
    left: unset;
    right: -6px;
}

.timeline__text-wrapper {
    max-width: 600px;
    background-color: #fff;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 60px 47px 53px;
    position: relative;
    border-top-left-radius: 0;
}
.timeline__item:nth-child(even) .timeline__text-wrapper {
    border-top-left-radius: 4px;
    border-top-right-radius: 0;
}
.timeline__item .triangle {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 0px solid transparent;
    border-bottom: 16px solid transparent;
    border-right: 15px solid #E0E0E0;
    top: -1px;
    left: -15px;
}
.timeline__item:nth-child(even) .triangle {
    left: unset;
    right: -14px;
    border-top: 0px solid transparent;
    border-bottom: 18px solid transparent;
    border-left: 14px solid #E0E0E0;
    border-right: none;
}
.timeline__item .inner-triangle {
    position: relative;
    top: 1px;
    left: 3px;
    width: 0;
    height: 0;
    border-top: 0px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 13px solid #FFF;
}
.timeline__item:nth-child(even) .inner-triangle {
    border-top: 0px solid transparent;
    border-bottom: 16px solid transparent;
    border-left: 13px solid #FFF;
    border-right: none;
    left: -15px;
}
.timeline__item .timeline__text-wrapper:before {
    /*content: '';*/
    position: absolute;
    left: -6px;
    top: 0;
    width: 12px;
    height: 12px;
    border: 1px solid #E0E0E0;
    /*transform: rotate(45deg);*/
    background-color: #fff;
    clip-path: polygon(0 33%, 100% 100%, 100% 33%);
}
.timeline__date {
    font-weight: bold;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: var(--color-brand-m-blue-primary);
    margin-bottom: 24px;
}
.timeline__subheads {
    font-weight: bold;
    font-size: 22.44px;
    line-height: 25px;
    letter-spacing: 0.02em;
    color: var(--color-text-field-blue);
    margin-bottom: 16px;
}
.timeline__text {
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.03em;
    margin-bottom: 14px;
}
.timeline__quotes .blockquote-text {
    font-weight: bold;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.03em;
    margin: 14px 0;
}
.timeline__quotes {
    margin-bottom: 16px;
}
.timeline__quotes .blockquote-text:before,
.timeline__quotes .blockquote-text:after {
    width: 14px;
}
.timeline__quotes .blockquote-text:before {
    margin-left: -14px;
}
.timeline__quotes .blockquote-author {
    font-size: 14px;
    line-height: 15px;
}
.timeline__quotes .blockquote-author-position {
    font-size: 12px;
    line-height: 13px;
}
.timeline__link {
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.05em;
    text-decoration-line: underline;
    color: var(--color-brand-navy-primary);
}

@media (max-width: 992px) {
    .timeline__image {
        margin: auto;
    }
    .timeline__item:nth-child(even) .timeline__image {
        margin: auto;
    }
    .timeline__text-wrapper {
        padding: 40px 22px;
    }
}
@media (max-width: 767px) {
    .timeline__section {
        padding: 32px 0;
    }
    .timeline__item-col {
        width: 100%;
        padding: 0;
    }
    .timeline__text-wrapper,
    .timeline__item:nth-child(even) .timeline__text-wrapper{
        margin: auto;
        border-radius: 4px;
        margin-top: 32px;
        text-align: center;
    }
    .timeline__text-wrapper ul,
    .timeline__text-wrapper ol {
        text-align: left;
    }
    .timeline__item,
    .timeline__item:nth-child(even) {
        flex-direction: column;
    }
    .timeline__text-block,
    .timeline__item:nth-child(even) .timeline__text-block {
        padding: 0;
        padding-bottom: 50px;
    }
    .timeline__item:last-child .timeline__text-block {
        padding-bottom: 0;
    }
    .timeline__text-block:before,
    .timeline__item:nth-child(even) .timeline__text-block:before {
        bottom: 0px;
        top: unset;
        right: unset;
        left: 50%;
        height: 50px;
    }

    .timeline__text-block:after,
    .timeline__item:nth-child(even) .timeline__text-block:after {
        right: unset;
        left: calc(50% - 5px);
        top: 0;
    }


    .timeline__image-block {
        padding-bottom: 50px;
    }
    .timeline__image-block:before {
        content: '';
        position: absolute;
        width: 1px;
        height: 50px;
        background-color: #A74F39;
        bottom: 0px;
        top: unset;
        right: unset;
        left: 50%;
    }

    .timeline__item .triangle,
    .timeline__item:nth-child(even) .triangle {
        width: 0;
        height: 0;
        border-style: solid;
        border-top: 0px solid transparent;
        border-right: 13px solid transparent;
        border-bottom: 13px solid #E0E0E0;
        border-left: 13px solid transparent;
        top: -13px;
        left: calc(50% - 12px);
    }
    .timeline__item .inner-triangle,
    .timeline__item:nth-child(even) .inner-triangle {
        border-top: 0px solid transparent;
        border-right: 12px solid transparent;
        border-bottom: 12px solid #fff;
        border-left: 12px solid transparent;
        top: 2px;
        left: -12px;
    }

    .timeline__date {
        font-size: 32.44px;
        line-height: 36px;
    }
    .timeline__subheads {
        font-size: 17.76px;
        line-height: 22px;
        margin-bottom: 20px;
    }
    .timeline__text {
        font-size: 15px;
        line-height: 24px;
    }
    .timeline__link {
        font-size: 15px;
        line-height: 18px;
        text-align: center;
    }

    .timeline__quotes .blockquote-text:before {
        margin-right: -14px;
        margin-bottom: 14px;
    }

}