@import 'variables.css';
@import 'bg-color.css';
@import 'wrapper-styles.css';

@import 'site-colors.css';
@import 'single-page-styles.css';
@import 'toolkit-styles.css';
@import 'resources-styles.css';

@import 'partners-tiles-styles.css';
/*@import 'slider-styles.css';*/

.wp-admin .after-content-blocks,
.wp-admin #acf-group_61cddcf356b31 {
    background: #131032;
}
.wp-admin #acf-group_61cddcf356b31 {
    /*color: #fff!important;*/
}

.wp-admin .header-slider,
.wp-admin #acf-group_61aa4fd4d94e6 {
    background: #D4003F;
}
.wp-admin #acf-group_61aa4fd4d94e6 {
    /*color: #fff!important;*/
}


/*Block Gallery*/
.gallery-inner .slider {
    display: flex;
    flex-wrap: wrap;
}
.gallery-inner .slider>div {
    flex-basis: 30%;
}
